<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Aristocrate Cheburek</title>
    <link rel = "stylesheet" href = "../static/css/menu.css">
</head>
<body>
    <header class = "header container fbx">
        <a href="#">
            <img src="../static/img/LOGO.png" alt="LOGO Cheburek" class="logo-img">
        </a>
        <button class="header_burger-lines">
            <img src="../static/img/menu.svg" alt="menu.svg">
        </button>
        <nav>
            <ul class="header_menu fbx">
                <li class="header_menu_items"><a href="#" class="header_menu-link">Акаунт</a></li>
                <li class="header_menu_items"><a href="#" class="header_menu-link">Меню</a></li>
                <li class="header_menu_items"><a href="#" class="header_menu-link">Корзина</a></li>
                <li class="header_menu_items"><a href="#" class="header_menu-link">Налаштування</a></li>
                <li class="header_menu_items"><a href="#" class="header_menu-link">Вихід</a></li>
            </ul>

            <button class = "header_burger-cross">
                <img src="../static/img/closeMenu.png" alt="close Menu">
            </button>
        </nav>
    </header>
    <main class = "main container">
        <section class = "main_banner fbx">
            <div class="main_banner-start">
                <div class="main_banner-tg"></div>
                <div class="main-banner-lg"></div>
            </div>
            <aside class="main_banner-end">
                <h2>The Aristocrate Cebureek</h2>
                <article>
                    <h3>Історія</h3>
                    <p>Ресторан "The Aristocrate Chebureek" відкрився як несподіваний симбіоз вишуканості й простоти. 
                        Він виріс на ідеї, що навіть найпростіша страва, якщо її подати з належною увагою до деталей і повагою до традицій, 
                        може стати шедевром. Інтер'єр та концепція ресторану повністю віддзеркалюють цю філософію.</p>
                </article>
                <article>
                    <h3>Стиль</h3>
                    <p>"The Aristocrate Chebureek" поєднує елегантність класичного аристократичного стилю з сучасними штрихами.
                         М'яке освітлення, кришталева люстра, дзеркала в золотих рамах і старовинні картини створюють атмосферу розкоші,
                          доповнену живою музикою. Мармурові підлоги й оксамитові стільці занурюють гостей у світ вишуканості.</p>
                </article>
                <article>
                    <h3>Меню</h3>
                    <p>Меню "The Aristocrate Chebureek" пропонує витончені варіації чебуреків, з вишуканими начинками, такими як фуа-гра, трюфелі,
                         лосось та ягня. Кожен чебурек — це справжній шедевр високої кухні, створений з найкращих інгредієнтів.</p>
                </article>
                <article>
                    <h3>Атмосфера</h3>
                    <p>"The Aristocrate Chebureek" — це місце, де можна відчути себе частиною еліти, не покидаючи меж комфорту.
                         Кожен гість занурюється в розкішний світ аристократизму, де простий чебурек стає втіленням кулінарної високості.</p>
                </article>
            </aside>
        </section>
    </main>
    <footer class = "footer container">
        <section class="footer_banner">
            <aside>
                <article>
                    <h4> Технічна підтримка:</h4>
                    <p>+380991852103</p>
                </article>
            </aside>
    </footer>
    
</body>
</html>